{% extends 'quoteapp/base.html' %}
{% load extract_tags %}
{% block content %}
<p>
    {% if user.is_authenticated %}
    <a href="{% url 'quoteapp:quote' %}" role="button" class="btn btn-primary">Add Quote</a>
    <a href="{% url 'quoteapp:author' %}" role="button" class="btn btn-primary">Add Author</a>
    <a href="{% url 'quoteapp:tag' %}" role="button" class="btn btn-primary">Add Tag</a>
    {% endif %}
</p>
<div class="row">
    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{quote.quote}}
            </span>
            <span>by <small class="author" itemprop="author">{{quote.author.fullname}}</small>
                <a href="{% url 'quoteapp:detail_author' quote.author_id %}">(about)</a>
                </span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags|tags %}
                <a class="tag" href="{}">{{tag.name}}</a>
                {% endfor%}
            </div>
            {% if user.is_admin %}
            <a href="{% url 'quoteapp:delete_quote' quote.id %}" role="button" class="btn btn-dark"> Delete </a>
            {% endif %}
        </div>
        {% endfor%}
        <nav>
            <ul class="pager">
                <li class="previous">
                    <a class="{% if not quotes.has_previous %} disabled {% endif%}"
                        href="{% if quotes.has_previous %}{% url 'quoteapp:root_paginate' quotes.previous_page_number %}{%else%} # {% endif %}">
                        <span aria-hidden="true">←</span> Previous
                    </a>
                </li>
                <li class="next">
                    <a class="{% if not quotes.has_next %} disabled {% endif%}" 
                        href="{% if quotes.has_next %}{% url 'quoteapp:root_paginate' quotes.next_page_number %}{%else%} # {% endif %}">
                        Next <span aria-hidden="true">→</span>
                    </a>
                </li>
            </ul>
        </nav>
        
    </div>
</div>
{% endblock %}