<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Organizer</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
</head>
<body>
<main class="container">
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
            <li><a href="{% url 'authorapp:author' %}" role="button">Add Author</a></li>
            <li><a href="{% url 'authorapp:quotes' %}" role="button">Add Quotes</a></li>
        </ul>
    </nav>
    {% for author in authors %}
    <ul>
        <li>
            <a href="{% url 'authorapp:detail' autor.id %}" role="button" class="outline">{{ quote.fullname }}</a>
            <a href="{% url 'authorapp:delete' autor.id %}" role="button" class="contrast"> Delete author </a>
        </li>
    </ul>
    {% endfor %}
</main>
</body>
</html>

